{% extends 'base.html' %}

{% block content %}

<div class="cover-container d-flex w-80 h-100 p-3 mx-auto flex-column splash-page-only">

<pre><code><span class="orange">this</span>.person <span class="red">=</span> [
  <span class="yellow">'first_name'</span>: <span class="yellow">'Adam'</span>,
  <span class="yellow">'middle_name'</span>: <span class="yellow">'Jay'</span>,
  <span class="yellow">'last_name'</span>: <span class="yellow">'Kliegman'</span>,
  <span class="yellow">'date_of_birth'</span>: <span class="red">new</span> <span class="blue">Date</span>(<span class="yellow">'March 14, 1988 00:41:00'</span>),
  <span class="yellow">'location'</span>: [
    <span class="yellow">'latitude'</span>: <span class="purple">40.7367783</span>,
    <span class="yellow">'longitude'</span>: <span class="purple">-73.98447220000003</span>,
    <span class="yellow">'city'</span>: <span class="yellow">'New York'</span>,
    <span class="yellow">'state'</span>: <span class="yellow">'NY'</span>,
  ],
  <span class="yellow">'contact_info'</span>: [
    <span class="yellow">'linked_in'</span>: <span class="red">new</span> <span class="blue">URL</span>(<span class="yellow">'/in/adamkliegman/'</span>, <span class="yellow">'https://www.linkedin.com'</span>)
  ]
];
</code></pre>

</div>
{% endblock content %}
