{% extends 'base.html' %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-12 col-md-offset-3 text-center">
      <h1 class="title">Adam J. Kliegman</h1>
      <h3 class="subtitle">Dope <span class="typed"></span> Guy</h3>
      <p>
        Spicy jalapeno bacon ipsum dolor amet sausage pig tail brisket prosciutto
        tenderloin venison drumstick picanha kielbasa. Venison pig fatback kevin.
        Hamburger pork fatback turducken andouille shankle venison.
      </p>

      <p class="availability">
        I am currently <strong class="availability-option">available</strong> for freelance
        or consulting opportunities.
      </p>
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
          <a class="btn btn-block btn-default" href="/cv">
            <i class="far fa-file-alt"></i>
            <span>View Resume</span>
          </a>
          <a class="btn btn-block btn-default" href="/contact">
            <i class="far fa-comment-alt"></i>
            Contact
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
