# Mac-specific files
.DS_Store

# Virtualenv
.current_version_requirements
virtualenv/

# Python temporary files
*.pyc
*.pyo
__pycache__

# Static temporary files
.sass-cache
.webassets-cache
*.css.map

# Local env
local.env
