@charset 'UTF-8';

@import "fonts";
@import "abstracts/site_variables";
@import "bootstrap";
@import "abstracts/site_animations";
@import "abstracts/site_helpers";
@import "abstracts/site_typography";
@import "abstracts/site_scaffolding";

.ak-brochure {
  height: 100%;
  min-height: 100%;
  min-height: 100vh;
  position: relative;

  &.splash-theme {
    @import "pages/splash";
    @include gradient-directional($white, rgba(#EFF7FA, 0.3), 45deg);
  }

  .content {
    margin-bottom: 2em;
    overflow: hidden;
  }

  @import "abstracts/site_buttons";
  @import "abstracts/site_forms";
  @import "abstracts/site_modals";
  @import "components/copyright";
  @import "components/recaptcha";
  @import "components/contact-form";


  &.modal-open .main {
    @include animation-name(slide-out-up);
    @include animation-fill-mode(both);
    @include animation-duration(0.5s);
    @include animation-iteration-count(1);
    @include animation-timing-function(ease-in-out);
  }
}
