@charset 'UTF-8';

@import "abstracts/site_variables";
@import "bootstrap";
@import "abstracts/site_typography";



.ak-brochure {
  position: relative;
  min-height: 100%;
  min-height: 100vh;
  height: 100%;

  &.splash-theme {
    @import "pages/splash";
  }

  .content {
    margin-bottom: 2em;
    overflow: hidden;
  }


  @import "abstracts/site_buttons";
  @import "components/copyright"
}
