.copyright {
  position: absolute;
  height: 2em;
  bottom: 0;
  width: 100%;
  text-transform: uppercase;
  font-weight: 400;

  p {
    font-size: 0.75em;
    margin: 0;
    line-height: 2.6666667;
  }
}
