.copyright {
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 1px;
  display: inline-block
}

nav a {
  color: $white;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 1px;
  display: inline-block;
  text-decoration: none;
  margin-right: 20px;
}

@media (min-width: $screen-sm-min) {
  nav {
    text-align: right;
    a {
      margin-left: 20px;
    }
  }
}
