body {
  background: $black;
  color: $white;
  font-size: 16px;
  font-family: $font-family-monospace;
}

pre {
  margin: 0;
  font-size: 100%;
  color: $code-color;
}
.white {
  color: $white!important;
}
.black {
  color: $black!important;
}
.red {
  color: $red!important;
}
.orange {
  color: $orange!important;
  font-style: italic;
}
.yellow {
  color: $yellow!important;
}
.green {
  color: $green!important;
}
.blue {
  color: $blue!important;
  font-style: italic;
}
.purple {
  color: $purple!important;
}

