
.content > .container {
  min-height: calc(100vh - 2em);
  padding-top: $body-padding;
  padding-bottom: $body-padding;
  @include animation-name(fade-in);
  @include animation-fill-mode(both);
  @include animation-duration(0.75s);
  @include animation-iteration-count(1);
  @include animation-timing-function(ease-in-out);
  > .row {
    @include animation-name(bounce-down);
    @include animation-fill-mode(both);
    @include animation-duration(1.25s);
    @include animation-iteration-count(1);
    @include animation-timing-function(ease-in-out);
  }
}

.splash-page-wrapper {
  max-width: 36em;
  margin: 0 auto;
}

.pretitle {
  font-weight: 200;
  letter-spacing: 0.01em;
  font-size: 1.8em;
  color: $black;
  &:before, &:after {
    content: '';
    height: 1px;
    background: rgba($black, 0.2);
    width: 2em;
    display: inline-block;
    vertical-align: middle;
    margin: 0 0.5em;
  }
}
.title {
  font-size: 4.25em;
  color: $black;
  font-weight: 900;
  letter-spacing: 0.01em;
  text-transform: none;
  span {
    display: inline-block;
  }
}

.subtitle {
  padding: 0 0 1em 0;
  font-weight: 200;
  letter-spacing: 0.01em;
  font-size: 1.8em;
  color: $black;

  .typed-wrapper {
    font-weight: 600;
    color: $red;
  }

  .typed-cursor {
    color: rgba($black, 0.4);
    font-weight: 100;
    vertical-align: text-top;
  }
}

.cta-buttons .btn {
  margin: 2em 0.25em;
  width: 13em;
}

