.btn, .btn:focus, .btn:active, .btn:hover {
  outline: none;
  letter-spacing: 1px;
  @include transition(all ease-in .25s);
}

.btn-transparent {
  @include button-variant($red, transparent, $red);

  &:hover {
    @include button-variant(darken($red, 10%), rgba(lighten($red, 5%), 0.075), darken($red, 10%));
  }
  &:active, &:focus {
    @include box-shadow(none!important);
  }
}

.btn-lg {
  text-transform: uppercase;
}
