$colors-list: (
  'white':        $white,
  'black':        $black,
  'red':          $red,
  'blue':         $blue,
  'gray':         $gray,
  'gray-dark':    $gray-dark,
  'yellow':       $yellow
);

@each $name, $color in $colors-list {
  .bg-color-#{$name} {
    background-color: $color;
  }
  .color-#{$name} {
    color: $color;
  }
}

$margin-size: $grid-gutter-width / 2;

$sizes: (
  0:        0,
  1:        $margin-size,
  2:        $margin-size * 2,
  3:        $margin-size * 3,
  4:        $margin-size * 4,
  5:        $margin-size * 5,
  6:        $margin-size * 6,
  7:        $margin-size * 7,
  8:        $margin-size * 8
);

$sides: (top, bottom, left, right);

@each $multiplier, $value in $sizes {
  .m-x-#{$multiplier} {
    margin-left: $value;
    margin-right: $value;
  }
  .m-y-#{$multiplier} {
    margin-top: $value;
    margin-bottom: $value;
  }
  .m-all-#{$multiplier}, .m-#{$multiplier} {
    margin: $value;
  }
  .p-x-#{$multiplier} {
    padding-left: $value;
    padding-right: $value;
  }
  .p-y-#{$multiplier} {
    padding-top: $value;
    padding-bottom: $value;
  }
  .p-all-#{$multiplier}, .p-#{$multiplier} {
    padding: $value;
  }
  @each $side in $sides {
    .m-#{$side}-#{$multiplier} {
      margin-#{$side}: $value;
    }
    .p-#{$side}-#{$multiplier} {
      padding-#{$side}: $value;
    }
  };
};
