.btn, .btn:focus, .btn:active, .btn:hover {
  outline: none!important;
  letter-spacing: 1px;
  @include transition(all ease-in .25s);
}

.btn-transparent {
  @include button-variant($red, transparent, $red);

  &:hover {
    @include button-variant($white, $red, $red);
  }
  &:active, &:focus {
    @include box-shadow(none!important);
  }
}

.btn-gray-transparent {
  @include button-variant($gray-dark, transparent, $gray-dark);

  &:hover {
    @include button-variant($white, $red, $red);
  }
  &:active, &:focus {
    @include box-shadow(none!important);
  }
}

.btn-lg {
  text-transform: uppercase;
}
