.btn-transparent {
  @include button-variant($blue, transparent, $blue);

  &:hover {
    @include button-variant($blue, rgba(lighten($blue, 5%), 0.075), $blue);
  }
  &:active, &:focus {
    @include box-shadow(none!important);
  }
}

.btn:not(.btn-social) {
  @include transition(all ease-in-out .25s);
  position: relative;
  i {
    @include transition(all ease-in-out .25s);
    @include scale(0);
    position: absolute;
    left: 1em;
  }
  &:hover {
    @include box-shadow(0 1px 2px rgba(0,0,0,.2));

    i {
      @include scale(1);
    }
  }
}

.btn-social {
  width: 32px;
  height: 32px;
  padding: 0;
  line-height: 1;
  border-radius: 16px;
  i {
    padding: 0;
    width: 32px;
    height: 32px;
    line-height: 32px;
  }
}
