$white:   #fcfcfa;
$black:   #2c292d;
$red:     #ff6188;
$orange:  #fc9867;
$yellow:  #ffd866;
$green:   #a9dc76;
$blue:    #78dce8;
$teal:    $blue;
$pink:    $red;
$purple:  #ab9df2;


$code-color: $white;
$code-bg: transparent;
