@keyframes link-color-change {
  0%   { background-color: transparent; }
  25%  { background-color: $light-green; }
  100% { background-color: darken($blue, 10%)}
}

@-webkit-keyframes link-color-change {
  0%   { background-color: transparent; }
  25%  { background-color: $light-green; }
  100% { background-color: darken($blue, 10%)}
}

a:not(.btn) {
  @include transition(all 0.5s ease-in-out);
  font-weight: 600;
  position: relative;
  color: $green;

  &:after {
    position: absolute;
    width: 1%;
    height: 1px;
    bottom: 0;
    left: 49%;
    background-color: transparent;
    content: '';
    @include transition(all 0.35s ease-in-out);
  }
  &:hover, &:focus {
    text-decoration: none;

    &:after {
      left: 0;
      width: 100%;
      @include animation-name(link-color-change);
      @include animation-fill-mode(both);
      @include animation-duration(0.45s);
      @include animation-iteration-count(1);
      @include animation-timing-function(ease-in-out);
      background-color: darken($green, 10%);
    }
  }

  &:active {
    outline: 0;
  }
}
