{% import 'macros/meta.html' as meta_macro %}
{% import 'macros/contact-form.html' as contact_form %}

<!doctype html>
<!--[if lte IE 9 ]><html id="noodle-programs" class="ie-old no-js" lang="en"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html id="ak-brochure" class="no-js" lang="en">
<!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta http-equiv=Content-Type content="text/html; charset=utf-8">
    <title>{{ meta.title }}</title>
    <meta content="{{ meta.title }}" name="title">
    {% if meta.description %}<meta content="{{ meta.description }}" name="description">{% endif %}
    <meta name="robots" content="index,follow">
    <meta name="googlebot" content="index,follow">
    <meta name="google" content="nositelinkssearchbox">
    <meta name="google" content="notranslate">
    {% if meta.theme_color %}<meta name="theme-color" content="{{ meta.theme_color }}">{% endif %}
    <meta name="rating" content="General">
    <meta name="format-detection" content="telephone=no">
    <meta name="google-site-verification" content="{{ meta.google_site_verification_token }}" />
    {{ meta_macro.ga_tag(meta.ga_tracking_id) }}

    {% block head_styles %}
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
      <link rel="stylesheet"
            media="all"
            href="{{ url_for('static', filename='css/brochure-style.css') }}">
    {% endblock %}

    {% block head_scripts %}
      {% assets filters="jsmin",
                output="head_scripts.min.js",
                'js/modernizr/modernizr-2.8.3.min.js',
                'js/jquery/jquery-3.1.1.min.js',
                'js/bootstrap/bootstrap.min.js' %}
        <script src="{{ ASSET_URL }}"></script>
      {% endassets %}
    {% endblock head_scripts%}
  </head>
  <body class="ak-brochure {{ (theme ~ '-theme') }}">
    <section class="content">
      {% block content %}
      {% endblock content %}
    </section>

    {% block body_scripts %}
    {% endblock body_scripts %}

    {% include 'components/copyright.html' %}

    {{ contact_form.render_contact_form(contact_form_id, contact_dialog_id) }}
  </body>
</html>
