
<div class="cookies">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <p class="color-white m-0 p-y-1 p-right-4">
          We may use cookies to provide you with a better experience of this website.
          You are free to manage these via your browser settings at any time.
          To accept cookies, continue browsing as normal. Please also see our
          <a href="/privacy-policy#cookies">Privacy Policy</a>.
        </p>

        <button class="cookies-close">OK</button>
      </div>
    </div>
  </div>
</div>
